body{
font-family: 'Raleway', sans-serif;
}

/*Navigation Styles*/
.navbar{
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #0000008c;
    border-color: #0000008c;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover{
    font-weight: bold;
    color: #dcd8d8;
}

.navbar-default .navbar-nav>.active>a{
    background-color: transparent;
    color: #dcd8d8;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    background-color: transparent;
    color: #dcd8d8;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    color: #f0efef;
    background-color: transparent;
}

.navbar-default .navbar-collapse{
    border-color: #f8a470;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
/*Alert Styles*/
.alert-container .col-xs-12{
    padding-left: 0px;
    padding-right: 0px;
}

.alert{
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.alert-sitewide {
    color: #452e04;
    background-color: #cf9325;
    border-color: #cf9325;
}

.alert-link {
    color: #0c2d49b8;
    text-decoration: none;
}

/*Callout styles*/

.callout-container{
    height: 100vh;
    background: url(../images/whiskey-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.callout{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*Jumbotron stylesS*/

/*.container-fluid .jumbotron {
    margin-top: 10%;
    padding-right: 60px;
    padding-left: 60px;
}*/
.jumbotron{
    background-color: #000000b8;
    color: #f5f5f0;
    margin-top: 10%;
}

.jumbotron h1{
    font-weight: bold;
    
    
}

.jumbotron .lead{
    margin-top: 8%;
}

/*block divider*/
.block-divider{
    width: 20%;
}

/*Buttons*/

.btn--cta{
    font-weight: bold;
    border-radius: 4px;
}

.btn--orange{
    background-color: #ce5e02;
    border-color: #ce5e02;
    color: white;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus{
    background-color: #ce5e02;
    border-color: #ce5e02;
    color: #d6d6d6;
}

/*Headings*/
.page-header{
    text-align: center;
    margin-bottom: 2%;
    border-bottom: 1px solid #4b4040;
}
.page-header-white{
    border-bottom: 1px solid white;
}
/*Layout*/
.container-wrapper{
    
}
.container-wrapper-orange{
    background-color: #e3651bd4;
    color: white;
}
.seperation{
    margin-bottom: 15%;
}
.customer-feedback-container{

}
/*Labels*/
.label-success {
    background-color: #313f31;
}
/*Features*/
.feature{
    text-align: center;
    margin-bottom: 10px;
}

.features-container{
    height: 164px;
}

.monthly-favourites-container{
   
}